* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    
}
.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbe8d8;
    height: 96px;
    padding: 0 48px;
}
.logo{
    height: 22px;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}
.main-nav-link:link,
.main-nav-link:visited {
    display: flex;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    ;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
    padding: 12px;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.nav-cta:hover,
.nav-cta:active {
    background-color: #cf711f;
}
.hero-section {
    background-color: #fdf2e9;
    padding: 48px 0 96px 0;
     background-color: #fbe8d8;
     width: 100vw;
   
}
.hero {
    margin: 0 auto;
    padding: 0 32px;
    gap: 96px;
    align-items: center;
     display: flex; 
}
.hero-content{
    width: 570px;
}
.heading{
    font-size: 52px;
    line-height: 1.05;
    margin-bottom: 32px;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}
.subheading{
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}
.start{
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    
}
.learn{
      background-color: #fff;
    color: #555;
    border: none;
     padding: 16px 32px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}
.hero-image{
    width: 100%;
}

.hero-image-box{
    width: 50%;
}
.section-featured {
    padding: 48px 0 32px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.heading-featured-in {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 40px;
    filter: brightness(0); 
    opacity: 0.5;
}
.container{
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 32px;
}
.heading-big {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 96px;
}
.step-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
    row-gap: 96px;
}

.img-box{
    position: relative;
    width: 500px;
    height: 600px;
    
    
}

.step-img{
    height: 600px;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.big-circle{
    width: 500px;
    height: 500px;
    background-color: #fbe8d8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.small-circle{
    width: 400px;
    height: 400px;
    background-color: #ffd8b9;
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.step-number{
    font-size: 96px;
    font-weight: 700;
    color: #e7e1dc;
    margin-bottom: 20px;
}
.heading-tertiary{
    font-size: 28px;
    margin-bottom: 16px;
    color: #000;
}
.step-description{
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.meals{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px 96px 32px;
}
.meals-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
}
.meal-img{
    width: 100%;
    margin-bottom: 16px;
}
.meal-attributes{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.meal-card1{
background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 0.3s ease;
}

.meal-card1:hover, .meal-card2:hover{
    transform: translateY(-10px);
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(230, 126, 34, 0.5);
}


.meal-content{
    padding: 16px;
    margin-left: 25px;
}
.meal-card2{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}
.meal-tag{
    background-color: rgb(0, 205, 44);
    padding: 5px;
    border-radius: 20px;
 
}
.meal-name{
    margin-top: 20px;
    margin-bottom: 20px;
}
.meal-tag1{
    background-color: rgb(246, 255, 0);
     padding: 5px;
    border-radius: 20px;
}
.meal-attribute1 span{
    font-weight: bold;
    font-size: 18px;
}
.meal-attribute2 span{
    font-weight: bold;
    font-size: 18px;
}
.meal-attribute3 span{
    font-weight: bold;
    font-size: 18px;
}
.meal-diet-heading{
    font-weight: bold;
    font-size: 30px;
}
.meal-diet-list{
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
}
.mark{
    font-size: 20px;
    color: orangered;
    margin-right: 10px;
}
.recipes a{
    text-decoration: none;
    color: orangered;
    
}
.recipes{
    text-align: center;
    margin-top: 50px;
}


/* MEDIA QUERIES */
@media (max-width: 1115px){
    .heading{
        font-size: 42px;
    }

    .logos img{
        height: 30px;
    }
}

@media (max-width: 600px){
    .nav-list{
        display: none;
    }
}

@media (min-width: 600px){
    .menu{
        display: none;
    }
}